In [4]:
with open("../data/output/aggregated_customer_usage_TMP/header__aggregated_customer_usage.txt") as f:
    columns = f.read().rstrip().split(",")

In [5]:
import glob
import pandas as pd
from pathlib import Path
from dotenv import find_dotenv, load_dotenv

In [32]:
df1 = pd.read_csv('../data/output/aggregated_customer_usage_TMP/part-00000-3b41fa5c-3c77-4568-a018-1111901ee71f-c000.csv', sep=',', names = columns) 
df2 = pd.read_csv('../data/output/aggregated_customer_usage_TMP/part-00001-3b41fa5c-3c77-4568-a018-1111901ee71f-c000.csv', sep=',', names = columns)

In [35]:
print(df1.shape)
print(df2.shape)

df1.head()

(28, 64)
(21, 64)

,user_account_id,user_lifetime,user_no_outgoing_activity_in_days,user_account_balance_last,user_spendings,reloads_inactive_days,reloads_count,reloads_sum,calls_outgoing_count,calls_outgoing_spendings,...,last_100_sms_outgoing_to_onnet_count,last_100_sms_outgoing_to_offnet_count,last_100_sms_outgoing_to_abroad_count,last_100_gprs_usage,user_intake,user_has_outgoing_calls,user_has_outgoing_sms,user_use_gprs,user_does_reload,n_months
0,978177,289.0,2.666667,0.500000,2.000000,33.666667,0.666667,2.500000,40.000000,1.750000,...,0.000000,14.666667,2.666667,0.0,0,1,1,0,1,3
1,28024,955.0,1.666667,5.246667,20.896667,9.000000,3.666667,22.020000,71.666667,20.896667,...,0.000000,0.000000,0.000000,0.0,0,1,1,0,1,3
2,446005,332.0,2.000000,0.926667,1.150000,487.000000,0.000000,0.000000,28.000000,1.053333,...,0.000000,1.666667,0.000000,0.0,0,1,1,0,0,3
3,172015,2014.0,2.000000,14.723333,5.173333,9.666667,1.666667,8.506667,43.333333,5.143333,...,0.000000,1.333333,0.000000,0.0,0,1,1,0,1,3
4,141422,2017.0,1.000000,2.463333,3.626667,455.666667,0.333333,1.333333,17.000000,3.246667,...,13.666667,9.666667,0.000000,0.0,0,1,1,0,1,3

In [36]:
len(columns)

64

In [37]:
res = pd.concat([df1, df2], axis = 0)
res.shape

(49, 64)